<form method="post" enctype="multipart/form-data">
	<input type="file" id="filer_input" name="image"/>
</form>

<div class="datatable-media">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="image-column">File</th>
        <th>Tên</th>
        <th>Thông tin</th>
        <th class="actions-column"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
          <a href="http://placehold.it/300" class="lightbox"><img src="http://placehold.it/300" alt="" class="img-media"></a>
        </td>
        <td>abc</td>
        <td class="file-info">
          <span><strong>Dung lượng:</strong> 215 Kb</span>
          <span><strong>Định dạng:</strong> .jpg</span>
          <span><strong>Kích cỡ:</strong> 120 x 120</span>
        </td>
        <td class="text-center">
            <div class="btn-group">
                <button class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></button>
                <ul class="dropdown-menu icons-right dropdown-menu-right">
                  <li><a href="#"><i class="icon-quill2"></i> Đổi tên</a></li>
                  <li><a href="#"><i class="icon-download"></i> Tải xuống</a></li>
                  <li><a href="#"><i class="icon-remove4"></i> Xóa bỏ</a></li>
                </ul>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function() {
  $('.datatable-media table').dataTable({
    columnDefs: [{ 
      orderable: false,
      targets: [ 0 ]
    }],
    order: [[ 1, 'asc' ]]
  });
  $('#filer_input').filer({
    extensions: ["jpg", "png", "gif"],
    showThumbs: true,
    addMore: true,
    uploadFile: {
      url: "/upload",
      data: {},
      type: 'POST',
      enctype: 'multipart/form-data',
      beforeSend: function(){},
      success: function(data, el){
        var parent = el.find(".jFiler-jProgressBar").parent();
        el.find(".jFiler-jProgressBar").fadeOut("slow", function(){
            $("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow");
        });
        console.log(data);
      },
      error: function(el){
        var parent = el.find(".jFiler-jProgressBar").parent();
        el.find(".jFiler-jProgressBar").fadeOut("slow", function(){
            $("<div class=\"jFiler-item-others text-error\"><i class=\"icon-jfi-minus-circle\"></i> Error</div>").hide().appendTo(parent).fadeIn("slow");
        });
      },
      statusCode: null,
      onProgress: null,
      onComplete: null
    },
    captions: {
      button: "Chọn file",
      feedback: "Bấm vào để chọn file tải lên",
      feedback2: "file đã được chọn",
      drop: "Drop file here to Upload",
      removeConfirmation: "Bạn chắc chắn muốn hủy file này?",
      errors: {
          filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
          filesType: "Chỉ có file ảnh được tải lên.",
          filesSize: "{{fi-name}} is too large! Please upload file up to {{fi-fileMaxSize}} MB.",
          filesSizeAll: "Files you've choosed are too large! Please upload files up to {{fi-maxSize}} MB.",
          folderUpload: "You are not allowed to upload folders."
      }
    }
  });       
}); 
</script>