<div class="sidebar">
	<div class="sidebar-content">
		<ul class="navigation">
			<li>
				<a class="navbar-brand" href="#" style="float:none"><strong>Exam</strong>system</a>
			</li>
			<li>
				<a href="/manager"><span>Quản lý</span> <i class="icon-cube2"></i></a>
			</li>
			<li>
				<a href="#"><span>Bài kiểm tra</span> <i class="icon-copy"></i></a>
				<ul class="hidden-ul">
					<li><a href="/manager/exam">Tạo và chỉnh sửa</a></li>
				</ul>
			</li>
			<li>
				<a href="/manager/group"><span>Nhóm</span> <i class="icon-man"></i></a>
			</li>
			<li>
				<a href="/manager/term"><span>Kỳ thi</span> <i class="icon-file-check"></i></a>
			</li>
			<li>
				<a href="/manager/library"><span>Thư viện</span> <i class="icon-library"></i></a>
			</li>
		</ul>	
	</div>
</div>