<div class="sidebar">
	<div class="sidebar-content">
		<ul class="navigation">
			<li>
				<a href="/manager"><span>Quản lý</span> <i class="icon-cube2"></i></a>
			</li>
			<li>
				<a href="#"><span>Bài kiểm tra</span> <i class="icon-copy"></i></a>
				<ul>
					<li><a href="/manager/exam">Tạo và chỉnh sửa</a></li>
				</ul>
			</li>
			<li>
				<a href="/manager/group"><span>Nhóm</span> <i class="icon-man"></i></a>
			</li>
			<li>
				<a href="#"><span>Kỳ thi</span> <i class="icon-file-check"></i></a>
			</li>
			<li>
				<a href="/library"><span>Thư viện</span> <i class="icon-library"></i></a>
				<ul>
					<li><a href="/library/questions">Câu hỏi</a></li>
					<li><a href="/library/files">File</a></li>
				</ul>
			</li>
			<li>
				<a href="/library"><span>Raw Database</span> <i class="icon-stack"></i></a>
				<ul>
					<li><a href="/raw/questions">Question</a></li>
					<li><a href="/raw/exams">Exam</a></li>
					<li><a href="/raw/users">User</a></li>
					<li><a href="/raw/groups">Group</a></li>
					<li><a href="/raw/exol">Online</a></li>
				</ul>
			</li>
		</ul>	
	</div>
</div>