body {
	background: #e9ebee;
}
h4 {
	font-weight: bold
}
h5 {
	font-size: 14px;
	line-height: 1.5;
}
p { font-size: 13px }
label {font-weight: 400}
.exam-header {
	background: #848484;
	padding: 20px 0;
	-webkit-box-shadow: 0 4px 0 rgba(0,0,0,.1);
	box-shadow: 0 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 111;
	top: 0;
}
.exam-content {
	margin-top: 100px;
	background: #fff;
}
.exam-time {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 0 4px 0 rgba(0,0,0,.1);
}
.exam-question {
	margin: 20px;
}
.exam-question > label {
	margin-left: 20px;
}
.panel-body {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
}
.MJXc-display {
	display: inline-block !important;
	margin: 0 0.5em !important;
}