<select multiple="multiple" id="exam_tags_input" class="form-control">
	<optgroup label="Toán">
		<option value="T1">Toán 1</option>
		<option value="T2">Toán 2</option>
	</optgroup>
	<optgroup label="Anh">
		<option value="A1">Anh 1</option>
		<option value="A2">Anh 2</option>
		<option value="A3">Anh 3</option>
		<option value="A4">Anh 4</option>
	</optgroup>
	<optgroup label="Ngữ Văn">
		<option value="NV6">Ngữ Văn 6</option>
		<option value="NV7">Ngữ Văn 7</option>
		<option value="NV8">Ngữ Văn 8</option>
		<option value="NV9">Ngữ Văn 9</option>
	</optgroup>
</select>