
<div class="list"></div>

<div class="load-group modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"><i class="icon-men"></i> Thêm nhóm làm bài</h4>
			</div>
			<div class="modal-body with-padding">
				<div class="block-inner text-danger">
					<h6 class="heading-hr">Chọn nhóm <small class="display-block">trong các nhóm bạn đã tạo</small></h6>
				</div>
				<select multiple="multiple" class="add-group"></select>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		var celist = $('.list');
		celist.empty().html(frontend_exam_loading_block(3));
		$.post('/exam-list', function(res) {
			setTimeout(function () {
				celist.html(creator_exam_list_render(res.data))
			}, 1000)
		})

		var creator_exam_list_render = function(data) {
			var html = '';
			for (var i = 0; i < data.length; i++) {
				html += templates.creator_exam_list(data[i]);
			}
			return html
		}
		
		var selected = {};
		function formatRepo (repo) {
	    if (repo.loading) return repo.name;
	    var markup = '<p data-action="#">'+repo.name+'</p>';
	    return markup;
	  }

	  function formatRepoSelection(repo) {
	    return repo.name;
	  }

		celist.on('click', '[data-action="add-group"]', function(e) {
			var that = $(this);
			var content = that.parent().find('span:not(:last-child)');
			var dropdown = $('.add-group');
			var initials = [];
			var s = [];
			selected.id = that.parent().parent().parent().data('exam');
			selected.link = that.data('link');
	    for (var i = 0; i < content.length; i++) {
	    	var tmp = $(content[i]);
	      initials.push({id: tmp.data('group'), name: tmp.text()});
	      s.push(tmp.data('group'));
	    }
			dropdown.select2({
				width: '100%',
				placeholder: 'Thêm nhóm...',
				tags:true,
				data: initials,
				ajax: {
			    url: "/manager/group-list",
			    dataType: 'json',
			    delay: 250,
			    processResults: function (data, params) {
			      params.page = params.page || 1;
			      data.groups.forEach(function(entry, index) {
		          entry.id = entry._id;
		      	});
			      return {
			        results: data.groups,
			        pagination: {
			          more: (params.page * 30) < data.length
			        }
			      };
			    },
			    cache: true
			  },
			  escapeMarkup: function (markup) { return markup },
			  minimumResultsForSearch: Infinity,
			  templateResult: formatRepo,
			  templateSelection: formatRepoSelection
			}).val(s).trigger('change');
			dropdown.on('change',function() {
				var data = {
					id: selected.id,
					link: selected.link,
					group: $(this).val()
				};
				update_group_share(data)
			})
		});

		celist.on('click', '[data-action="edit-exam"]', function(e) {
			e.preventDefault()
			selected.id = $(this).parent().parent().data('exam');
			window.location = '/manager/exam?exam='+selected.id;
		});

		celist.on('click', '[data-action="share-exam"]', function(e) {
			e.preventDefault()
			selected.id = $(this).parent().parent().data('exam');
			var link = $(this).data('link');
			if (!link) {
				$.post('/manager/exam-share', {id: selected.id}, function(res) {
					alert_share(res.link);
				})
			} else alert_share(link);
		})

		var update_group_share = function(data, callback) {
			$.post('/manager/exam-share', data, function(res) {
				$('.load-group').modal('show').on('hidden.bs.modal', function () {
				  location.reload()
				})
			})
		}
		var alert_share = function(link) {
			var full_link = 'http:/localhost:3000/test/'+link;
			swal({
			  title: "Chia sẻ!",
			  text: "Gửi link để làm bài kiểm tra",
			  type: "input",
			  showCancelButton: true,
			  closeOnConfirm: true,
			  confirmButtonText: "Copy !!!",
				cancelButtonText: "Hủy chia sẻ",
			  animation: "slide-from-top",
			  inputValue: full_link
			},
			function(isConfirm){
				if (isConfirm) {
					var success   = true,
				      range     = document.createRange(),
				      selection;
					var tmpElem = $('<div>');
			    tmpElem.css({position: "absolute",left:"-1000px",top:"-1000px"});
			    tmpElem.text(full_link);
			    $('body').append(tmpElem);
			    range.selectNodeContents(tmpElem.get(0));
			    selection = window.getSelection();
			    selection.removeAllRanges();
			    selection.addRange(range);
				  document.execCommand('copy');
				  tmpElem.remove();
				} else {
					$.post('/manager/exam-share', {id: selected.id, link: link, cancel: true}, function(res) {
						console.log('Canceled')
					})
				}	
			})
		}
	})
</script>
